/* POSITION OF ELEMENTS */
body {
  margin: 0;
  display: flex;
}
#left {
  height: 100vh;
  height: 100vh;
  overflow-y: scroll;
}
#left::-webkit-scrollbar { 
  display: none; 
}
#right {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  padding: 5vh;
}

/* STYLING */

:root {
  --lblue: #369;
  --blue: #246;
  --dblue: #123;
  --grey: #ccc;
}
body {
  font-family: "Open Sans", sans-serif;
}
#left {
  background-color: var(--lblue);
  color: white;
}


#left .title {
  font-weight: normal;
  transition: all 0.5s;
}
#left .title:hover {
  cursor: pointer;
  background-color: var(--dblue);
  transform: translateX(1em);
}
#left h2 {
  padding: .5em 0 .5em .5em;
  margin: 0;
  background-color: var(--blue);
}
#left h3 {
  padding: .2em 0 .2em 1em;
  margin: 0;
}
#left h4 {
  padding: 0em 0 0em 2em;
  margin: 0;
}

#right h1 {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: white;
  background-color: var(--dblue);
  padding: .5em;
  font-size: 3.5em;
  margin: 0;
}
#right h2 {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: white;
  background-color: var(--blue);
  padding: .5em;
  font-size: 2.5em;
  margin: 2em 0 0 0;
}
#right h3 {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--blue);
  font-size: 2.3em;
  border-top: .1em solid var(--blue);
  border-bottom: .1em solid var(--blue);
}
#right h4 {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--lblue);
  font-size: 1.3em;
}

#right table {
  border-collapse: collapse;
}
#right table td,
#right table th {
  border: 1px solid var(--grey);
  padding: .3em;
}

#right pre {
  background-color: var(--grey);
  padding: 1em;
}